@model Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <p>name: @Model.Name</p>
   <p>description : @Model.Description</p>
   <p>isPublished : @Model.İsPublished</p>
</body>
</html>